name: NuGet Publish Template

on:
  workflow_call:
    inputs:
      project-path:
        required: true
        type: string
    secrets:
      NUGET_API_KEY:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   # IMPORTANT pour MinVer

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore ${{ inputs.project-path }}

      - name: Build
        run: dotnet build ${{ inputs.project-path }} --configuration Release --no-restore

      - name: Test (if exists)
        run: |
          if ls **/*Tests.csproj 1> /dev/null 2>&1; then
            dotnet test --configuration Release --no-build
          else
            echo "No test project found."
          fi

      - name: Pack
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          dotnet pack ${{ inputs.project-path }} \
            --configuration Release \
            --no-build \
            --output ./artifacts

      - name: Publish
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          dotnet nuget push ./artifacts/*.nupkg \
            --api-key ${{ secrets.NUGET_API_KEY }} \
            --source https://api.nuget.org/v3/index.json \
            --skip-duplicate


